body {
    font-family: arial black,palatino, verdana;
    font-size: 14px;
	font-style: bold;
	letter-spacing: 0.1em;
    color: white;
	text-align: center;
    background-color: black;
    margin: 20px;
    padding: 0;
}

img{
	height: 30%;
	width: 100%;
}

img.s1{
	height:75%;
	width: 50%;
}

img.s2{
	height:75%;
	width: 75%;
}

img.s3{
	height:75%;
	width: 50%;
}

img.s4{
	height:75%;
	width: 50%;
}

img.s5{
	
	height:75%;
	width: 50%;
}

img.s6{
	height:75%;
	width: 75%;
}

p {
	color: white;
    line-height: 21px;
}

h1 {
    color: white;
    background-color: deepskyblue;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: bold;
    text-align: center;
    letter-spacing: 0.5em;
	border-top-style: solid;
    border-top-width: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
	border-top-color: lightskyblue;
    border-bottom-color: lightskyblue;
}

h2 {
    color: white;
	text-align: center;
    background-color: dodgerblue;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}

h3 {
	color: dodgerblue;
    font-size: 1.25em;
}

a {
	color: white;
    text-decoration: none;
}

a:hover {
	color: dodgerblue;
    text-decoration: underline;
}

strong {
    font-style: bold;
    text-transform: uppercase;
}

li {
	color: white;
    font-style: strong;
}

table {
	width: 100%;
    background-color: thistle;
	text-align: center; 
}